<footer class="footer">
  <div class="container grid grid-footer">
    <div class="logo-col">
      <a class="footer-logo" href="" #>
        <img
          src="images/svg/logo-no-background.svg"
          alt="Avance logo"
          class="logo"
        />
      </a>
      <ul class="social-links">
        <li>
          <a class="footer-link" href="#"><ion-icon class="social-icon instagram" name="logo-instagram"></ion-icon></a>
        </li>
        <li>
          <a class="footer-link" href="#"><ion-icon class="social-icon facebook" name="logo-facebook"></ion-icon></a>
        </li>
        <li>
          <a class="footer-link" href="#"><ion-icon class="social-icon twitter" name="logo-twitter"></ion-icon></a>
        </li>
      </ul>
      <p class="copyright">
        copyright &copy; 2023 by Avance physiotherapy, All rights reserved.
      </p>
    </div>

    <div class="address-col">
      <p class="footer-heading">Contact us</p>
      <address class="contacts">
        <p class="address">Address : Bangalore</p>
        <p>
          <a class="footer-link" href="tel:+91 9971337916">+91 9971337916</a> <br />
          <a class="footer-link" href="https://api.whatsapp.com/send?phone=919971337916"
            >Send Message on whatsapp</a
          >
          <br />
          <a class="footer-link" href="mailto:avancephysiotherapy@gmail.com">avancephysiotherapy@gmail.com</a>
        </p>
      </address>
    </div>

    <nav class="nav-col">
      <p class="footer-heading">Account</p>
      <ul class="footer-nav">
        <li><a class="footer-link" href="#">Create Account</a></li>
        <li><a class="footer-link" href="#">Sign in</a></li>
      </ul>
    </nav>

    <nav class="nav-col">
      <p class="footer-heading">Company</p>
      <ul class="footer-nav">
        <li><a class="footer-link" href="#">About us</a></li>
        <li><a class="footer-link" href="#">For Patients</a></li>
        <li><a class="footer-link" href="#">Careers</a></li>
      </ul>
    </nav>

    <nav class="nav-col">
      <p class="footer-heading">Resources</p>
      <ul class="footer-nav">
        <li><a class="footer-link" href="#">Help Centre</a></li>
        <li><a class="footer-link" href="#">Terms and conditions</a></li>
      </ul>
    </nav>
  </div>
</footer>