<header class='header'>
  <a href='/'>
    <img
      src='images/svg/logo-no-background.svg'
      alt='Avance logo'
      class='logo'
    />
  </a>
  <nav class='main-nav'>
    <ul class='main-nav-list'>
      <li><a class='main-nav-link' href='/'>Home</a></li>
      <li><a class='main-nav-link' href='/services'>Services</a></li>
      <li><a class='main-nav-link' href='/patients_corner'>Patients corner</a></li>
      <li><a class='main-nav-link' href='/contacts'>Contact Us</a></li>
      <li>
        <a class='main-nav-link nav-cta' href='/appointment'>Schedule
          Appointment</a>
      </li>
    </ul>
  </nav>
</header>